<h1>Table Values</h1>
<form method="POST" action="/generate">
Name: <input id="patchName" type= "text" name = "patchName"><br>
<table id="lsdjColumn">
<div id=tableLabel>VOL: </div>  <div id=tableLabel>TSP: </div> <div id=tableLabel>CMD: </div><br>
<input id = "volumeCell" type="text" name="vol0" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp0" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd0" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol1" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp1" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd1" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol2" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp2" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd2" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol3" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp3" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd3" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol4" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp4" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd4" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol5" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp5" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd5" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol6" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp6" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd6" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol7" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp7" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd7" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol8" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp8" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd8" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol9" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp9" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd9" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol10" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp10" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd10" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol11" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp11" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd11" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol12" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp12" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd12" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol13" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp13" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd13" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol14" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp14" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd14" size="5" maxlength="1"><br>
<input id = "volumeCell" type="text" name="vol15" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp15" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd15" size="5" maxlength="1"><br>
</table>
<input id = "saveButton" type="submit" value ="Save">
</form>
<form method="POST" action="/generate">
