<div id = "lsdjForm">
<h2 id = "tableName" class = "quadrit">Table Values</h2>
<form id = "lsdjTable" method="POST" action="/generate">
<p class="quadrit">Name: <input id="patchName" type= "text" name = "patchName"><img src ="/images/togepi.jpg" id = "togePic">
<br>
<table id="lsdjColumn">
<div class = "quadrit" id=tableLabel>VOL: </div>  <div class = "quadrit" id=tableLabel>TSP: </div> <div class = "quadrit" id=tableLabel>CMD: </div><div class = "quadrit" id=tableLabel>PRM: </div>
<div class = "quadrit" id=tableLabel>CMD2: </div><div class = "quadrit" id=tableLabel>PRM2: </div><br>
<input id = "volumeCell" type="text" name="vol0" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp0" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd0" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams0" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo0" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo0" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol1" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp1" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd1" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams1" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo1" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo1" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol2" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp2" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd2" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams2" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo2" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo2" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol3" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp3" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd3" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams3" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo3" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo3" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol4" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp4" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd4" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams4" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo4" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo4" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol5" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp5" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd5" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams5" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo5" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo5" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol6" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp6" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd6" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams6" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo6" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo6" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol7" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp7" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd7" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams7" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo7" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo7" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol8" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp8" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd8" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams8" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo8" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo8" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol9" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp9" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd9" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams9" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo9" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo9" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol10" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp10" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd10" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams10" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo10" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo10" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol11" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp11" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd11" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams11" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo11" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo11" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol12" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp12" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd12" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams12" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo12" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo12" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol13" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp13" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd13" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams13" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo13" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo13" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol14" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp14" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd14" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams14" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo14" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo14" size="5" maxlength="2"><br>
<input id = "volumeCell" type="text" name="vol15" size="5" maxlength="2"><input id = "transposeCell" type="text" name="tsp15" size="5" maxlength="2">
<input id = "commandCell" type="text" name="cmd15" size="5" maxlength="1">
<input id = "paramCell" type="text" name="prams15" size="5" maxlength="2">
<input id = "commandTwoCell" type="text" name="cmdTwo15" size="5" maxlength="1">
<input id = "paramTwoCell" type="text" name="pramsTwo15" size="5" maxlength="2"><br>
</table>
<input id = "saveButton" type="submit" value ="Save"> <!-- Form One -->
</form>
<form method="POST" action="/generate">
</div>
