<form id = "lsdjTable" method="POST" action="/login">
<p class="quadrit">Username: <input id="patchName" type= "text" name = "username"><img src ="/images/togepi2.jpg" id = "togePic">
<p class="quadrit">Password: <input id="patchName" type= "password" name = "password"><img src ="/images/togepi3.jpg" id = "togePic">
<input id = "loginButton" type="submit" value ="Login">
<p id = "Disclaimer" class = "minecraft-regular">Usernames and Passwords Are Restricted to Number Letter Combinations</p>
</form>
