<table>
{{#each result}}
    {{this.name}}<br>
    {{#each volume}}
    <div>{{this}}</div>
    {{/each}}
  </div>
{{/each}}
{{#each result}}
  <div>
    {{#each transpose}}
    <div>{{this}}</div>
    {{/each}}
  </div>
{{/each}}
</table>

<br>
<a href="/">New Patch</a>

<br>
<button type="button" class="clearButton" onclick="clearPatches()">Clear Patches</button>

<script type = "text/javascript">
function clearPatches()
{
    window.location.href = "/clearAll";
}
</script>
