{{#each result}}
    {{this.name}}<br>
    {{#each volume}}
      <div>{{this}}</div>
    {{/each}}
    {{this.transpose}}<br>
    <br>
{{/each}}

<br>
<a href="/">New Patch</a>

<br>
<button type="button" class="clearButton" onclick="clearPatches()">Clear Patches</button>

<script type = "text/javascript">
function clearPatches()
{
    window.location.href = "/clearAll";
}
</script>
