{{#each result}}
<form>
    {{this.name}}<br>
    {{#each volume}}
      <div>{{this}}</div>
    {{/each}}
    {{#each transpose}}
    <div>{{this}}</div>
    {{/each}}
    {{#each commandOne}}
    <div>{{this}}</div>
    {{/each}}
    <br>
</form>
{{/each}}

<br>
<a href="/">New Patch</a>

<br>
<button type="button" class="clearButton" onclick="clearPatches()">Clear Patches</button>

<script type = "text/javascript">
function clearPatches()
{
    var req = new XMLHttpRequest();
  // url = "http://localhost:3000/clearAll";
     url = "http://i6.cims.nyu.edu:17381/clearAll";
    req.open('GET', url, true);
    req.send();
    location.reload(false);
}
</script>
