#volumeCell
{	width: 50px;
}
#transposeCell
{
	width: 50px;
}
#commandCell
{
	width: 50px;
}
#paramCell
{
	width: 50px;
}
#lsdjColumn
{
	display: inline;
}
#lsdjForm
{
    margin: auto;
    width: 50%;
}
#lsdjTable
{
	margin: auto;
	width: 310px; /* number of columns times 50 plus 10 */
}
#tableName
{
	margin: auto;
	width: 50%;
	text-align: center;
}
#tableLabel
{
	display:inline-block;
	width: 50px;

}
#patchName
{
	margin: 10px;
	width: 130px;
}

#saveButton
{
	position: absolute;
	margin-top: 20px;
	margin-left: 100px; /* number of columns times 50 divided by 4 */
	width: 100px;
	align: center;
}
#navhead
{
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100%;
	text-align: center;
	background-image: url("/images/pixel.jpg"); /* Corresponds to topMargin */
}
#topMargin
{
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url("/images/pixel.jpg"); /* Corresponds to navHead */
}
#navPic
{
	position: absolute;
	padding-top: 10px;
	height: 45px;
	width: 150px;
}
