#volumeCell
{	width: 50px;
}
#transposeCell
{
	width: 50px;
}
#commandCell
{
	width: 50px;
}
#paramCell
{
	width: 50px;
}
#lsdjColumn
{
	display: inline;
}
#lsdjForm
{
    margin: auto;
    width: 50%;
}
#lsdjTable
{
	margin: auto;
	width: 218px;
}
#tableName
{
	margin: auto;
	width: 50%;
	text-align: center;
}
#tableLabel
{
	display:inline-block;
	width: 50px;

}
#patchName
{
	margin: 10px;
}

#saveButton
{
	margin: auto;
	width: 50px;
}
#navhead
{
	text-align:center;
}
